USE [master]
GO
/****** Object:  Database [horarios]    Script Date: 07/04/2023 13:54:49 ******/
CREATE DATABASE [horarios]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'horarios', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\horarios.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'horarios_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\horarios_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [horarios].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [horarios]
GO
/****** Object:  Schema [horarios]    Script Date: 07/04/2023 13:54:49 ******/
CREATE SCHEMA [horarios]
GO
/****** Object:  Table [dbo].[prerequisitos_asignatura]    Script Date: 07/04/2023 13:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[prerequisitos_asignatura](
	[id_prerequisitos_asignatura] [int] IDENTITY(1,1) NOT NULL,
	[id_version_pensum] [int] NOT NULL,
	[codigo_carrera] [nvarchar](6) NOT NULL,
	[codigo_asignatura] [nvarchar](10) NOT NULL,
	[prerequisito1] [nvarchar](10) NULL,
	[prerequisito2] [nvarchar](10) NULL,
	[prerequisito3] [nvarchar](10) NULL,
	[prerequisito4] [nvarchar](10) NULL,
 CONSTRAINT [PK_prerequisitos_asignatura] PRIMARY KEY CLUSTERED 
(
	[id_prerequisitos_asignatura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[version_trimestral]    Script Date: 07/04/2023 13:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[version_trimestral](
	[id_version_trimestral] [int] IDENTITY(1,1) NOT NULL,
	[version_trimestral] [nvarchar](5) NOT NULL,
 CONSTRAINT [PK_version_trimestral] PRIMARY KEY CLUSTERED 
(
	[id_version_trimestral] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [horarios].[asignatura]    Script Date: 07/04/2023 13:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [horarios].[asignatura](
	[codigo_asignatura] [nvarchar](10) NOT NULL,
	[nombre_asignatura] [nvarchar](100) NOT NULL,
	[creditos_materia] [int] NOT NULL,
 CONSTRAINT [PK_asignatura_codigo_asignatura] PRIMARY KEY CLUSTERED 
(
	[codigo_asignatura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [horarios].[carrera]    Script Date: 07/04/2023 13:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [horarios].[carrera](
	[codigo_carrera] [nvarchar](6) NOT NULL,
	[nombre_carrera] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_carrera_codigo_carrera] PRIMARY KEY CLUSTERED 
(
	[codigo_carrera] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [horarios].[corequisitos_asignatura]    Script Date: 07/04/2023 13:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [horarios].[corequisitos_asignatura](
	[id_corequisitos_asignatura] [int] IDENTITY(42,1) NOT NULL,
	[id_version_pensum] [int] NOT NULL,
	[codigo_carrera] [nvarchar](6) NOT NULL,
	[codigo_asignatura] [nvarchar](10) NOT NULL,
	[codigo_corequisito] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_corequisitos_asignatura_id_corequisitos_asignatura] PRIMARY KEY CLUSTERED 
(
	[id_corequisitos_asignatura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [horarios].[creditos_requisitos_asignatura]    Script Date: 07/04/2023 13:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [horarios].[creditos_requisitos_asignatura](
	[id_creditos_requisitos_asignatura] [int] IDENTITY(9,1) NOT NULL,
	[id_version_pensum] [int] NOT NULL,
	[codigo_carrera] [nvarchar](6) NOT NULL,
	[codigo_asignatura] [nvarchar](10) NOT NULL,
	[creditos_requisitos_asignatura] [int] NOT NULL,
 CONSTRAINT [PK_creditos_requisitos_asignatura_id_creditos_requisitos_asignatura] PRIMARY KEY CLUSTERED 
(
	[id_creditos_requisitos_asignatura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [horarios].[dia]    Script Date: 07/04/2023 13:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [horarios].[dia](
	[id_dia] [int] IDENTITY(7,1) NOT NULL,
	[nombre_dia] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_dia_id_dia] PRIMARY KEY CLUSTERED 
(
	[id_dia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [horarios].[horario]    Script Date: 07/04/2023 13:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [horarios].[horario](
	[id_hora] [int] IDENTITY(1,1) NOT NULL,
	[horas] [nvarchar](5) NULL,
	[id_dia] [int] NULL,
	[id_seccion] [int] NOT NULL,
	[estado_hora] [int] NOT NULL,
	[id_version_trimestral] [int] NOT NULL,
	[id_modalidad] [int] NULL,
 CONSTRAINT [PK_horario_id_hora] PRIMARY KEY CLUSTERED 
(
	[id_hora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [horarios].[horario_seleccionado]    Script Date: 07/04/2023 13:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [horarios].[horario_seleccionado](
	[id_horario_seleccion] [int] IDENTITY(1,1) NOT NULL,
	[hora_seleccion] [nvarchar](5) NOT NULL,
	[id_profesor] [int] NOT NULL,
	[id_dia] [int] NOT NULL,
	[id_modalidad] [int] NOT NULL,
 CONSTRAINT [PK_horario_seleccionado_id_horario_seleccion] PRIMARY KEY CLUSTERED 
(
	[id_horario_seleccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [horarios].[modalidad]    Script Date: 07/04/2023 13:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [horarios].[modalidad](
	[id_modalidad] [int] IDENTITY(1,1) NOT NULL,
	[nombre_modalidad] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_modalidad_id_modalidad] PRIMARY KEY CLUSTERED 
(
	[id_modalidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [horarios].[pensum]    Script Date: 07/04/2023 13:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [horarios].[pensum](
	[id_pemsun] [int] IDENTITY(213,1) NOT NULL,
	[id_version_pensum] [int] NOT NULL,
	[codigo_carrera] [nvarchar](6) NOT NULL,
	[id_trimestre] [int] NOT NULL,
	[codigo_asignatura] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_pensum_id_pemsun] PRIMARY KEY CLUSTERED 
(
	[id_pemsun] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [horarios].[profesor]    Script Date: 07/04/2023 13:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [horarios].[profesor](
	[id_profesor] [int] IDENTITY(1234568,1) NOT NULL,
	[nombre_profesor] [nvarchar](100) NOT NULL,
	[prioridad_profesor] [smallint] NOT NULL,
	[contraseña_profesor] [nvarchar](20) NOT NULL,
	[coordinador_status] [smallint] NOT NULL,
 CONSTRAINT [PK_profesor_id_profesor] PRIMARY KEY CLUSTERED 
(
	[id_profesor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [horarios].[seccion]    Script Date: 07/04/2023 13:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [horarios].[seccion](
	[id_seccion] [int] IDENTITY(1,1) NOT NULL,
	[codigo_seccion] [int] NOT NULL,
	[id_profesor] [int] NOT NULL,
	[codigo_asignatura] [nvarchar](10) NOT NULL,
	[id_modalidad] [int] NOT NULL,
 CONSTRAINT [PK_seccion_id_seccion] PRIMARY KEY CLUSTERED 
(
	[id_seccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [horarios].[trimestre]    Script Date: 07/04/2023 13:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [horarios].[trimestre](
	[id_trimestre] [int] IDENTITY(7,1) NOT NULL,
	[nombre_trimestre] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_trimestre_id_trimestre] PRIMARY KEY CLUSTERED 
(
	[id_trimestre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [horarios].[version_pensum]    Script Date: 07/04/2023 13:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [horarios].[version_pensum](
	[id_version_pensum] [int] IDENTITY(2,1) NOT NULL,
	[año_pensum] [int] NOT NULL,
 CONSTRAINT [PK_version_pensum_id_version_pensum] PRIMARY KEY CLUSTERED 
(
	[id_version_pensum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[prerequisitos_asignatura] ON 

INSERT [dbo].[prerequisitos_asignatura] ([id_prerequisitos_asignatura], [id_version_pensum], [codigo_carrera], [codigo_asignatura], [prerequisito1], [prerequisito2], [prerequisito3], [prerequisito4]) VALUES (1, 1, N'SIS', N'AHC110', N'AHC109', N'', N'', N'')
INSERT [dbo].[prerequisitos_asignatura] ([id_prerequisitos_asignatura], [id_version_pensum], [codigo_carrera], [codigo_asignatura], [prerequisito1], [prerequisito2], [prerequisito3], [prerequisito4]) VALUES (2, 1, N'SIS', N'CBM102', N'CBM101', N'', N'', N'')
INSERT [dbo].[prerequisitos_asignatura] ([id_prerequisitos_asignatura], [id_version_pensum], [codigo_carrera], [codigo_asignatura], [prerequisito1], [prerequisito2], [prerequisito3], [prerequisito4]) VALUES (3, 1, N'SIS', N'ING102', N'CBM101', N'', N'', N'')
GO
SET IDENTITY_INSERT [dbo].[prerequisitos_asignatura] OFF
GO
SET IDENTITY_INSERT [dbo].[version_trimestral] ON 

INSERT [dbo].[version_trimestral] ([id_version_trimestral], [version_trimestral]) VALUES (1, N'02/23')
SET IDENTITY_INSERT [dbo].[version_trimestral] OFF
GO
INSERT [horarios].[asignatura] ([codigo_asignatura], [nombre_asignatura], [creditos_materia]) VALUES (N'ADM335', N'ASPECTOS LEGALES EN LOS NEGOCIOS', 4)
INSERT [horarios].[asignatura] ([codigo_asignatura], [nombre_asignatura], [creditos_materia]) VALUES (N'ADM339', N'FORMULACION Y EVALUACION DE PROYECTOS DE INVERSION', 4)
INSERT [horarios].[asignatura] ([codigo_asignatura], [nombre_asignatura], [creditos_materia]) VALUES (N'ADM340', N'MATEMATICAS FINANCIERAS', 4)
GO
INSERT [horarios].[carrera] ([codigo_carrera], [nombre_carrera]) VALUES (N'CIV', N'Ingeniería Civil')
INSERT [horarios].[carrera] ([codigo_carrera], [nombre_carrera]) VALUES (N'DIN', N'Diseño Industrial')
INSERT [horarios].[carrera] ([codigo_carrera], [nombre_carrera]) VALUES (N'ECO', N'EconomIa y Negocios ')
GO
SET IDENTITY_INSERT [horarios].[corequisitos_asignatura] ON 

INSERT [horarios].[corequisitos_asignatura] ([id_corequisitos_asignatura], [id_version_pensum], [codigo_carrera], [codigo_asignatura], [codigo_corequisito]) VALUES (1, 1, N'SIS', N'ING102', N'ING102L')
INSERT [horarios].[corequisitos_asignatura] ([id_corequisitos_asignatura], [id_version_pensum], [codigo_carrera], [codigo_asignatura], [codigo_corequisito]) VALUES (2, 1, N'SIS', N'ING102L', N'ING102')
INSERT [horarios].[corequisitos_asignatura] ([id_corequisitos_asignatura], [id_version_pensum], [codigo_carrera], [codigo_asignatura], [codigo_corequisito]) VALUES (3, 1, N'SIS', N'CBF210', N'CBM201')
SET IDENTITY_INSERT [horarios].[corequisitos_asignatura] OFF
GO
SET IDENTITY_INSERT [horarios].[creditos_requisitos_asignatura] ON 

INSERT [horarios].[creditos_requisitos_asignatura] ([id_creditos_requisitos_asignatura], [id_version_pensum], [codigo_carrera], [codigo_asignatura], [creditos_requisitos_asignatura]) VALUES (1, 1, N'MED', N'CSH105', 50)
INSERT [horarios].[creditos_requisitos_asignatura] ([id_creditos_requisitos_asignatura], [id_version_pensum], [codigo_carrera], [codigo_asignatura], [creditos_requisitos_asignatura]) VALUES (2, 1, N'ECO', N'CSH105', 40)
INSERT [horarios].[creditos_requisitos_asignatura] ([id_creditos_requisitos_asignatura], [id_version_pensum], [codigo_carrera], [codigo_asignatura], [creditos_requisitos_asignatura]) VALUES (3, 1, N'SIS', N'INS219', 40)
SET IDENTITY_INSERT [horarios].[creditos_requisitos_asignatura] OFF
GO
SET IDENTITY_INSERT [horarios].[dia] ON 

INSERT [horarios].[dia] ([id_dia], [nombre_dia]) VALUES (1, N'Lunes')
INSERT [horarios].[dia] ([id_dia], [nombre_dia]) VALUES (2, N'Martes')
INSERT [horarios].[dia] ([id_dia], [nombre_dia]) VALUES (3, N'Miercoles')
SET IDENTITY_INSERT [horarios].[dia] OFF
GO
SET IDENTITY_INSERT [horarios].[horario] ON 

INSERT [horarios].[horario] ([id_hora], [horas], [id_dia], [id_seccion], [estado_hora], [id_version_trimestral], [id_modalidad]) VALUES (82948, N'12/14', 2, 45, 1, 1, 1)
INSERT [horarios].[horario] ([id_hora], [horas], [id_dia], [id_seccion], [estado_hora], [id_version_trimestral], [id_modalidad]) VALUES (82949, N'09/11', 3, 45, 1, 1, 1)
INSERT [horarios].[horario] ([id_hora], [horas], [id_dia], [id_seccion], [estado_hora], [id_version_trimestral], [id_modalidad]) VALUES (82950, N'13/15', 1, 68, 1, 1, 1)
GO
SET IDENTITY_INSERT [horarios].[horario] OFF
GO
SET IDENTITY_INSERT [horarios].[horario_seleccionado] ON 

INSERT [horarios].[horario_seleccionado] ([id_horario_seleccion], [hora_seleccion], [id_profesor], [id_dia], [id_modalidad]) VALUES (1, N'18/22', 1014812, 1, 1)
INSERT [horarios].[horario_seleccionado] ([id_horario_seleccion], [hora_seleccion], [id_profesor], [id_dia], [id_modalidad]) VALUES (2, N'18/22', 1014812, 2, 1)
INSERT [horarios].[horario_seleccionado] ([id_horario_seleccion], [hora_seleccion], [id_profesor], [id_dia], [id_modalidad]) VALUES (3, N'18/20', 1014812, 5, 1)
GO
SET IDENTITY_INSERT [horarios].[horario_seleccionado] OFF
GO
SET IDENTITY_INSERT [horarios].[modalidad] ON 

INSERT [horarios].[modalidad] ([id_modalidad], [nombre_modalidad]) VALUES (1, N'presencial')
INSERT [horarios].[modalidad] ([id_modalidad], [nombre_modalidad]) VALUES (2, N'virtual')
INSERT [horarios].[modalidad] ([id_modalidad], [nombre_modalidad]) VALUES (3, N'hibrida')
SET IDENTITY_INSERT [horarios].[modalidad] OFF
GO
SET IDENTITY_INSERT [horarios].[pensum] ON 

INSERT [horarios].[pensum] ([id_pemsun], [id_version_pensum], [codigo_carrera], [id_trimestre], [codigo_asignatura]) VALUES (1, 1, N'SIS', 1, N'AHC109')
INSERT [horarios].[pensum] ([id_pemsun], [id_version_pensum], [codigo_carrera], [id_trimestre], [codigo_asignatura]) VALUES (2, 1, N'SIS', 1, N'AHO102')
INSERT [horarios].[pensum] ([id_pemsun], [id_version_pensum], [codigo_carrera], [id_trimestre], [codigo_asignatura]) VALUES (3, 1, N'SIS', 1, N'CBM101')
GO
SET IDENTITY_INSERT [horarios].[pensum] OFF
GO
SET IDENTITY_INSERT [horarios].[profesor] ON 

INSERT [horarios].[profesor] ([id_profesor], [nombre_profesor], [prioridad_profesor], [contraseña_profesor], [coordinador_status]) VALUES (1008474, N'Valeria', 0, N'babygirl', 0)
INSERT [horarios].[profesor] ([id_profesor], [nombre_profesor], [prioridad_profesor], [contraseña_profesor], [coordinador_status]) VALUES (1014812, N'Tyrael', 1, N'hjhiugg', 0)
INSERT [horarios].[profesor] ([id_profesor], [nombre_profesor], [prioridad_profesor], [contraseña_profesor], [coordinador_status]) VALUES (1059506, N'Luis', 1, N'password', 0)
SET IDENTITY_INSERT [horarios].[profesor] OFF
GO
SET IDENTITY_INSERT [horarios].[seccion] ON 

INSERT [horarios].[seccion] ([id_seccion], [codigo_seccion], [id_profesor], [codigo_asignatura], [id_modalidad]) VALUES (41, 1, 1099953, N'AHC109', 1)
INSERT [horarios].[seccion] ([id_seccion], [codigo_seccion], [id_profesor], [codigo_asignatura], [id_modalidad]) VALUES (42, 1, 8723625, N'AHC110', 1)
INSERT [horarios].[seccion] ([id_seccion], [codigo_seccion], [id_profesor], [codigo_asignatura], [id_modalidad]) VALUES (43, 1, 1171984, N'AHO102', 1)
GO
SET IDENTITY_INSERT [horarios].[seccion] OFF
GO
SET IDENTITY_INSERT [horarios].[trimestre] ON 

INSERT [horarios].[trimestre] ([id_trimestre], [nombre_trimestre]) VALUES (1, N'Trimestre 01')
INSERT [horarios].[trimestre] ([id_trimestre], [nombre_trimestre]) VALUES (2, N'Trimestre 02')
INSERT [horarios].[trimestre] ([id_trimestre], [nombre_trimestre]) VALUES (3, N'Trimestre 03')
SET IDENTITY_INSERT [horarios].[trimestre] OFF
GO
SET IDENTITY_INSERT [horarios].[version_pensum] ON 

INSERT [horarios].[version_pensum] ([id_version_pensum], [año_pensum]) VALUES (1, 2022)
SET IDENTITY_INSERT [horarios].[version_pensum] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [fk_corequisitos_asignatura_Asignatura1_idx]    Script Date: 07/04/2023 13:54:49 ******/
CREATE NONCLUSTERED INDEX [fk_corequisitos_asignatura_Asignatura1_idx] ON [horarios].[corequisitos_asignatura]
(
	[codigo_asignatura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [fk_corequisitos_asignatura_Asignatura2_idx]    Script Date: 07/04/2023 13:54:49 ******/
CREATE NONCLUSTERED INDEX [fk_corequisitos_asignatura_Asignatura2_idx] ON [horarios].[corequisitos_asignatura]
(
	[codigo_corequisito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [fk_corequisitos_asignatura_Carrera1_idx]    Script Date: 07/04/2023 13:54:49 ******/
CREATE NONCLUSTERED INDEX [fk_corequisitos_asignatura_Carrera1_idx] ON [horarios].[corequisitos_asignatura]
(
	[codigo_carrera] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [fk_corequisitos_asignatura_Version_pensum1_idx]    Script Date: 07/04/2023 13:54:49 ******/
CREATE NONCLUSTERED INDEX [fk_corequisitos_asignatura_Version_pensum1_idx] ON [horarios].[corequisitos_asignatura]
(
	[id_version_pensum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [fk_creditos_requisitos_asignatura_Asignatura1_idx]    Script Date: 07/04/2023 13:54:49 ******/
CREATE NONCLUSTERED INDEX [fk_creditos_requisitos_asignatura_Asignatura1_idx] ON [horarios].[creditos_requisitos_asignatura]
(
	[codigo_asignatura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [fk_creditos_requisitos_asignatura_Carrera1_idx]    Script Date: 07/04/2023 13:54:49 ******/
CREATE NONCLUSTERED INDEX [fk_creditos_requisitos_asignatura_Carrera1_idx] ON [horarios].[creditos_requisitos_asignatura]
(
	[codigo_carrera] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [fk_creditos_requisitos_asignatura_Version_pensum1_idx]    Script Date: 07/04/2023 13:54:49 ******/
CREATE NONCLUSTERED INDEX [fk_creditos_requisitos_asignatura_Version_pensum1_idx] ON [horarios].[creditos_requisitos_asignatura]
(
	[id_version_pensum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [fk_Horario_seleccionado_Dia1_idx]    Script Date: 07/04/2023 13:54:49 ******/
CREATE NONCLUSTERED INDEX [fk_Horario_seleccionado_Dia1_idx] ON [horarios].[horario_seleccionado]
(
	[id_dia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [fk_Horario_seleccionado_Modalidad1_idx]    Script Date: 07/04/2023 13:54:49 ******/
CREATE NONCLUSTERED INDEX [fk_Horario_seleccionado_Modalidad1_idx] ON [horarios].[horario_seleccionado]
(
	[id_modalidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [fk_Horario_seleccionado_Profesor1_idx]    Script Date: 07/04/2023 13:54:49 ******/
CREATE NONCLUSTERED INDEX [fk_Horario_seleccionado_Profesor1_idx] ON [horarios].[horario_seleccionado]
(
	[id_profesor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [fk_Carrera_Trimestre_Materia_Carrera1_idx]    Script Date: 07/04/2023 13:54:49 ******/
CREATE NONCLUSTERED INDEX [fk_Carrera_Trimestre_Materia_Carrera1_idx] ON [horarios].[pensum]
(
	[codigo_carrera] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [fk_Carrera_Trimestre_Materia_Materia1_idx]    Script Date: 07/04/2023 13:54:49 ******/
CREATE NONCLUSTERED INDEX [fk_Carrera_Trimestre_Materia_Materia1_idx] ON [horarios].[pensum]
(
	[codigo_asignatura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [fk_Carrera_Trimestre_Materia_Trimestre1_idx]    Script Date: 07/04/2023 13:54:49 ******/
CREATE NONCLUSTERED INDEX [fk_Carrera_Trimestre_Materia_Trimestre1_idx] ON [horarios].[pensum]
(
	[id_trimestre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [fk_pensum_version_pensum1_idx]    Script Date: 07/04/2023 13:54:49 ******/
CREATE NONCLUSTERED INDEX [fk_pensum_version_pensum1_idx] ON [horarios].[pensum]
(
	[id_version_pensum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [fk_Seccion_Materia1_idx]    Script Date: 07/04/2023 13:54:49 ******/
CREATE NONCLUSTERED INDEX [fk_Seccion_Materia1_idx] ON [horarios].[seccion]
(
	[codigo_asignatura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [fk_Seccion_Modalidad1_idx]    Script Date: 07/04/2023 13:54:49 ******/
CREATE NONCLUSTERED INDEX [fk_Seccion_Modalidad1_idx] ON [horarios].[seccion]
(
	[id_modalidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [fk_Seccion_Profesor1_idx]    Script Date: 07/04/2023 13:54:49 ******/
CREATE NONCLUSTERED INDEX [fk_Seccion_Profesor1_idx] ON [horarios].[seccion]
(
	[id_profesor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[prerequisitos_asignatura]  WITH CHECK ADD  CONSTRAINT [FK_prerequisitos_asignatura_asignatura] FOREIGN KEY([codigo_asignatura])
REFERENCES [horarios].[asignatura] ([codigo_asignatura])
GO
ALTER TABLE [dbo].[prerequisitos_asignatura] CHECK CONSTRAINT [FK_prerequisitos_asignatura_asignatura]
GO
ALTER TABLE [dbo].[prerequisitos_asignatura]  WITH CHECK ADD  CONSTRAINT [FK_prerequisitos_asignatura_carrera] FOREIGN KEY([codigo_carrera])
REFERENCES [horarios].[carrera] ([codigo_carrera])
GO
ALTER TABLE [dbo].[prerequisitos_asignatura] CHECK CONSTRAINT [FK_prerequisitos_asignatura_carrera]
GO
ALTER TABLE [dbo].[prerequisitos_asignatura]  WITH CHECK ADD  CONSTRAINT [FK_prerequisitos_asignatura_version_pensum] FOREIGN KEY([id_version_pensum])
REFERENCES [horarios].[version_pensum] ([id_version_pensum])
GO
ALTER TABLE [dbo].[prerequisitos_asignatura] CHECK CONSTRAINT [FK_prerequisitos_asignatura_version_pensum]
GO
ALTER TABLE [horarios].[corequisitos_asignatura]  WITH NOCHECK ADD  CONSTRAINT [corequisitos_asignatura$fk_corequisitos_asignatura_Asignatura1] FOREIGN KEY([codigo_asignatura])
REFERENCES [horarios].[asignatura] ([codigo_asignatura])
GO
ALTER TABLE [horarios].[corequisitos_asignatura] CHECK CONSTRAINT [corequisitos_asignatura$fk_corequisitos_asignatura_Asignatura1]
GO
ALTER TABLE [horarios].[corequisitos_asignatura]  WITH NOCHECK ADD  CONSTRAINT [corequisitos_asignatura$fk_corequisitos_asignatura_Asignatura2] FOREIGN KEY([codigo_corequisito])
REFERENCES [horarios].[asignatura] ([codigo_asignatura])
GO
ALTER TABLE [horarios].[corequisitos_asignatura] CHECK CONSTRAINT [corequisitos_asignatura$fk_corequisitos_asignatura_Asignatura2]
GO
ALTER TABLE [horarios].[corequisitos_asignatura]  WITH NOCHECK ADD  CONSTRAINT [corequisitos_asignatura$fk_corequisitos_asignatura_Carrera1] FOREIGN KEY([codigo_carrera])
REFERENCES [horarios].[carrera] ([codigo_carrera])
GO
ALTER TABLE [horarios].[corequisitos_asignatura] CHECK CONSTRAINT [corequisitos_asignatura$fk_corequisitos_asignatura_Carrera1]
GO
ALTER TABLE [horarios].[corequisitos_asignatura]  WITH NOCHECK ADD  CONSTRAINT [corequisitos_asignatura$fk_corequisitos_asignatura_Version_pensum1] FOREIGN KEY([id_version_pensum])
REFERENCES [horarios].[version_pensum] ([id_version_pensum])
GO
ALTER TABLE [horarios].[corequisitos_asignatura] CHECK CONSTRAINT [corequisitos_asignatura$fk_corequisitos_asignatura_Version_pensum1]
GO
ALTER TABLE [horarios].[creditos_requisitos_asignatura]  WITH NOCHECK ADD  CONSTRAINT [creditos_requisitos_asignatura$fk_creditos_requisitos_asignatura_Asignatura1] FOREIGN KEY([codigo_asignatura])
REFERENCES [horarios].[asignatura] ([codigo_asignatura])
GO
ALTER TABLE [horarios].[creditos_requisitos_asignatura] CHECK CONSTRAINT [creditos_requisitos_asignatura$fk_creditos_requisitos_asignatura_Asignatura1]
GO
ALTER TABLE [horarios].[creditos_requisitos_asignatura]  WITH NOCHECK ADD  CONSTRAINT [creditos_requisitos_asignatura$fk_creditos_requisitos_asignatura_Carrera1] FOREIGN KEY([codigo_carrera])
REFERENCES [horarios].[carrera] ([codigo_carrera])
GO
ALTER TABLE [horarios].[creditos_requisitos_asignatura] CHECK CONSTRAINT [creditos_requisitos_asignatura$fk_creditos_requisitos_asignatura_Carrera1]
GO
ALTER TABLE [horarios].[creditos_requisitos_asignatura]  WITH NOCHECK ADD  CONSTRAINT [creditos_requisitos_asignatura$fk_creditos_requisitos_asignatura_Version_pensum1] FOREIGN KEY([id_version_pensum])
REFERENCES [horarios].[version_pensum] ([id_version_pensum])
GO
ALTER TABLE [horarios].[creditos_requisitos_asignatura] CHECK CONSTRAINT [creditos_requisitos_asignatura$fk_creditos_requisitos_asignatura_Version_pensum1]
GO
ALTER TABLE [horarios].[horario]  WITH CHECK ADD  CONSTRAINT [FK_horario_modalidad] FOREIGN KEY([id_modalidad])
REFERENCES [horarios].[modalidad] ([id_modalidad])
GO
ALTER TABLE [horarios].[horario] CHECK CONSTRAINT [FK_horario_modalidad]
GO
ALTER TABLE [horarios].[horario]  WITH CHECK ADD  CONSTRAINT [FK_horario_version_trimestral] FOREIGN KEY([id_version_trimestral])
REFERENCES [dbo].[version_trimestral] ([id_version_trimestral])
GO
ALTER TABLE [horarios].[horario] CHECK CONSTRAINT [FK_horario_version_trimestral]
GO
ALTER TABLE [horarios].[horario]  WITH NOCHECK ADD  CONSTRAINT [horario$fk_Hora_Dia1] FOREIGN KEY([id_dia])
REFERENCES [horarios].[dia] ([id_dia])
GO
ALTER TABLE [horarios].[horario] CHECK CONSTRAINT [horario$fk_Hora_Dia1]
GO
ALTER TABLE [horarios].[horario]  WITH NOCHECK ADD  CONSTRAINT [horario$fk_Hora_Seccion1] FOREIGN KEY([id_seccion])
REFERENCES [horarios].[seccion] ([id_seccion])
GO
ALTER TABLE [horarios].[horario] CHECK CONSTRAINT [horario$fk_Hora_Seccion1]
GO
ALTER TABLE [horarios].[horario_seleccionado]  WITH NOCHECK ADD  CONSTRAINT [horario_seleccionado$fk_Horario_seleccionado_Dia1] FOREIGN KEY([id_dia])
REFERENCES [horarios].[dia] ([id_dia])
GO
ALTER TABLE [horarios].[horario_seleccionado] CHECK CONSTRAINT [horario_seleccionado$fk_Horario_seleccionado_Dia1]
GO
ALTER TABLE [horarios].[horario_seleccionado]  WITH NOCHECK ADD  CONSTRAINT [horario_seleccionado$fk_Horario_seleccionado_Modalidad1] FOREIGN KEY([id_modalidad])
REFERENCES [horarios].[modalidad] ([id_modalidad])
GO
ALTER TABLE [horarios].[horario_seleccionado] CHECK CONSTRAINT [horario_seleccionado$fk_Horario_seleccionado_Modalidad1]
GO
ALTER TABLE [horarios].[horario_seleccionado]  WITH NOCHECK ADD  CONSTRAINT [horario_seleccionado$fk_Horario_seleccionado_Profesor1] FOREIGN KEY([id_profesor])
REFERENCES [horarios].[profesor] ([id_profesor])
GO
ALTER TABLE [horarios].[horario_seleccionado] CHECK CONSTRAINT [horario_seleccionado$fk_Horario_seleccionado_Profesor1]
GO
ALTER TABLE [horarios].[pensum]  WITH NOCHECK ADD  CONSTRAINT [pensum$fk_Carrera_Trimestre_Materia_Carrera1] FOREIGN KEY([codigo_carrera])
REFERENCES [horarios].[carrera] ([codigo_carrera])
GO
ALTER TABLE [horarios].[pensum] CHECK CONSTRAINT [pensum$fk_Carrera_Trimestre_Materia_Carrera1]
GO
ALTER TABLE [horarios].[pensum]  WITH NOCHECK ADD  CONSTRAINT [pensum$fk_Carrera_Trimestre_Materia_Materia1] FOREIGN KEY([codigo_asignatura])
REFERENCES [horarios].[asignatura] ([codigo_asignatura])
GO
ALTER TABLE [horarios].[pensum] CHECK CONSTRAINT [pensum$fk_Carrera_Trimestre_Materia_Materia1]
GO
ALTER TABLE [horarios].[pensum]  WITH NOCHECK ADD  CONSTRAINT [pensum$fk_Carrera_Trimestre_Materia_Trimestre1] FOREIGN KEY([id_trimestre])
REFERENCES [horarios].[trimestre] ([id_trimestre])
GO
ALTER TABLE [horarios].[pensum] CHECK CONSTRAINT [pensum$fk_Carrera_Trimestre_Materia_Trimestre1]
GO
ALTER TABLE [horarios].[pensum]  WITH NOCHECK ADD  CONSTRAINT [pensum$fk_pensum_version_pensum1] FOREIGN KEY([id_version_pensum])
REFERENCES [horarios].[version_pensum] ([id_version_pensum])
GO
ALTER TABLE [horarios].[pensum] CHECK CONSTRAINT [pensum$fk_pensum_version_pensum1]
GO
ALTER TABLE [horarios].[seccion]  WITH NOCHECK ADD  CONSTRAINT [seccion$fk_Seccion_Materia1] FOREIGN KEY([codigo_asignatura])
REFERENCES [horarios].[asignatura] ([codigo_asignatura])
GO
ALTER TABLE [horarios].[seccion] CHECK CONSTRAINT [seccion$fk_Seccion_Materia1]
GO
ALTER TABLE [horarios].[seccion]  WITH NOCHECK ADD  CONSTRAINT [seccion$fk_Seccion_Modalidad1] FOREIGN KEY([id_modalidad])
REFERENCES [horarios].[modalidad] ([id_modalidad])
GO
ALTER TABLE [horarios].[seccion] CHECK CONSTRAINT [seccion$fk_Seccion_Modalidad1]
GO
ALTER TABLE [horarios].[seccion]  WITH NOCHECK ADD  CONSTRAINT [seccion$fk_Seccion_Profesor1] FOREIGN KEY([id_profesor])
REFERENCES [horarios].[profesor] ([id_profesor])
GO
ALTER TABLE [horarios].[seccion] CHECK CONSTRAINT [seccion$fk_Seccion_Profesor1]
GO
/****** Object:  StoredProcedure [dbo].[Gethorarios_seleccionado]    Script Date: 07/04/2023 13:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Gethorarios_seleccionado]
	@id_profesor int,
	@id_modalidad int 
AS
BEGIN
if exists (Select * from horarios.horario_seleccionado where id_profesor = @id_profesor and id_modalidad = @id_modalidad)
	Select hora_seleccion, id_dia from horarios.horario_seleccionado
	where id_profesor = @id_profesor and id_modalidad = @id_modalidad order by id_dia
else 
	Select hora_seleccion, id_dia from horarios.horario_seleccionado
	where id_profesor = @id_profesor and id_modalidad != @id_modalidad order by id_dia
END
GO
/****** Object:  StoredProcedure [dbo].[horario_profesor]    Script Date: 07/04/2023 13:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[horario_profesor]
	-- Add the parameters for the stored procedure here
	@id_profesor int,
	@id_trimestre int,
	@codigo_carrera nvarchar(6)
as
begin
select pen.codigo_carrera, d.nombre_dia, a.nombre_asignatura, s.codigo_seccion, h.horas from horarios.pensum pen
	inner join horarios.carrera c on pen.codigo_carrera = c.codigo_carrera
	inner join horarios.trimestre t on pen.id_trimestre = t.id_trimestre
	inner join horarios.asignatura a on pen.codigo_asignatura = a.codigo_asignatura
	inner join horarios.seccion s on a.codigo_asignatura = s.codigo_asignatura
	inner join horarios.horario h on s.id_seccion = h.id_seccion
	inner join horarios.dia d on h.id_dia = d.id_dia
	where id_profesor = @id_profesor and pen.id_trimestre = @id_trimestre and pen.codigo_carrera = @codigo_carrera
end 

GO
/****** Object:  StoredProcedure [dbo].[inserccion_seccion]    Script Date: 07/04/2023 13:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[inserccion_seccion]
    @id_profesor int,
    @codigo_asignatura nvarchar(10),
	@id_modalidad int
AS
BEGIN
    declare @existencia_seccion int = (select MAX(codigo_seccion) from horarios.seccion where codigo_asignatura = @codigo_asignatura)
    if exists (select codigo_seccion from horarios.seccion where codigo_asignatura = @codigo_asignatura)
        insert into horarios.seccion (codigo_seccion, id_profesor, codigo_asignatura, id_modalidad)
               values(  (@existencia_seccion + 1)   ,@id_profesor,@codigo_asignatura,@id_modalidad)
    else 
        insert into horarios.seccion (codigo_seccion, id_profesor, codigo_asignatura, id_modalidad)
                               values(     1        ,@id_profesor, @codigo_asignatura, @id_modalidad)
END
GO
/****** Object:  StoredProcedure [dbo].[ppCheck_schedule]    Script Date: 07/04/2023 13:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ppCheck_schedule]
	@codigo_asignatura nvarchar(10),
	@id_profesor int
AS
BEGIN
	(select horas, id_dia from horarios.pensum p
	inner join horarios.seccion s on p.codigo_asignatura = s.codigo_asignatura
	inner join horarios.horario h on s.id_seccion = h.id_seccion
	where p.codigo_asignatura = @codigo_asignatura
	and id_profesor = @id_profesor
	and not horas is null)
	union all
	(select horas, id_dia from horarios.pensum p
	inner join (select id_trimestre, codigo_carrera from horarios.pensum where codigo_asignatura = @codigo_asignatura) b on p.id_trimestre = b.id_trimestre and p.codigo_carrera = b.codigo_carrera
	inner join horarios.seccion s on p.codigo_asignatura = s.codigo_asignatura
	inner join horarios.horario h on s.id_seccion = h.id_seccion
	where p.codigo_asignatura <> @codigo_asignatura
	and not horas is null)
	order by id_dia
END
GO
/****** Object:  StoredProcedure [dbo].[ppGetasignatura]    Script Date: 07/04/2023 13:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ppGetasignatura]
AS
BEGIN
with base as 
(
select distinct a.codigo_asignatura, id_seccion, p.id_profesor, creditos_materia, id_modalidad, SUBSTRING(a.codigo_asignatura, 4, 1) as numero, codigo_seccion, id_trimestre, prioridad_profesor
	from horarios.asignatura a
	inner join horarios.pensum pe on pe.codigo_asignatura = a.codigo_asignatura
	inner join horarios.seccion s on a.codigo_asignatura = s.codigo_asignatura 
	inner join horarios.profesor p on s.id_profesor = p.id_profesor
		where id_trimestre = (SELECT MIN(id_trimestre) FROM horarios.pensum WHERE codigo_asignatura = a.codigo_asignatura)
		and id_seccion not in (select id_seccion from horarios.horario)
) 
select codigo_asignatura, id_seccion, id_profesor, creditos_materia, id_modalidad 
	from base 
		order by id_trimestre, numero desc, prioridad_profesor desc, codigo_seccion
END
GO
/****** Object:  StoredProcedure [dbo].[ppGetid_profesor]    Script Date: 07/04/2023 13:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[ppGetid_profesor]
as
select id_profesor from horarios.profesor 
where id_profesor not in (select id_profesor from horarios.horario_seleccionado)
GO
/****** Object:  StoredProcedure [dbo].[ppGetmaxVersion_trimestral]    Script Date: 07/04/2023 13:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ppGetmaxVersion_trimestral]
AS
select MAX(id_version_trimestral) from version_trimestral
GO
/****** Object:  StoredProcedure [dbo].[ppInsert_hours]    Script Date: 07/04/2023 13:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ppInsert_hours]
	@hora nvarchar(5),
	@id_dia int,
	@id_seccion int,
	@estado_hora int,
	@id_version_trimestral int,
	@id_modalidad int
AS
BEGIN
if @id_dia != 0
	insert into horarios.horario (horas, id_dia, id_seccion, estado_hora, id_version_trimestral, id_modalidad)
						   values(@hora, @id_dia, @id_seccion, @estado_hora, @id_version_trimestral, @id_modalidad)
else
	insert into horarios.horario (horas, id_dia, id_seccion, estado_hora, id_version_trimestral, id_modalidad)
							values (null, null, @id_seccion, @estado_hora, @id_version_trimestral, null)
END
GO
/****** Object:  StoredProcedure [dbo].[ppInserthorario_seleccionado]    Script Date: 07/04/2023 13:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ppInserthorario_seleccionado]
@hora_seleccion nvarchar(5),
@id_profesor int,
@id_dia int,
@id_modalidad int
AS
BEGIN
	insert into horarios.horario_seleccionado (hora_seleccion, id_profesor, id_dia, id_modalidad)
	values (@hora_seleccion, @id_profesor, @id_dia, @id_modalidad)
END
GO
/****** Object:  StoredProcedure [dbo].[seleccion_profesor]    Script Date: 07/04/2023 13:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[seleccion_profesor]
	-- Add the parameters for the stored procedure here
	@id_profesor int
AS
BEGIN
	select p.nombre_profesor, d.nombre_dia, hs.hora_seleccion, m.nombre_modalidad from horarios.profesor p 
		inner join horarios.horario_seleccionado hs on p.id_profesor = hs.id_profesor
		inner join horarios.dia d on hs.id_dia = d.id_dia 
		inner join horarios.modalidad m on hs.id_modalidad = m.id_modalidad
		where p.id_profesor = @id_profesor;
END

GO
/****** Object:  StoredProcedure [dbo].[vista_Hora]    Script Date: 07/04/2023 13:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
create procedure [dbo].[vista_Hora]
	@codigo_carrera nvarchar(5),
	@id_trimeste int 
	as
	select distinct concat(s.codigo_asignatura,'-0',s.codigo_seccion) As Codigo_Asignatura, 
	 a.creditos_materia ,
	(select horas from horarios.horario where id_dia = 1 and id_seccion = h.id_seccion) as Lunes,
	(select horas from horarios.horario where id_dia = 2 and id_seccion = h.id_seccion) as Martes,
	(select horas from horarios.horario where id_dia = 3 and id_seccion = h.id_seccion) as Miercoles,
	(select horas from horarios.horario where id_dia = 4 and id_seccion = h.id_seccion) as Jueves,
	(select horas from horarios.horario where id_dia = 5 and id_seccion = h.id_seccion) as Viernes,
	(select horas from horarios.horario where id_dia = 6 and id_seccion = h.id_seccion) as Sabado,
	estado_hora
	from horarios.horario H
	inner join horarios.seccion s on s.id_seccion = h.id_seccion
	inner join horarios.pensum p on p.codigo_asignatura = s.codigo_asignatura
	inner join horarios.asignatura a on a.codigo_asignatura = p.codigo_asignatura
	where p.codigo_carrera=@codigo_carrera and p.id_trimestre = @id_trimeste
	order by concat(s.codigo_asignatura,'-0',s.codigo_seccion)
	return 0
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'horarios.asignatura' , @level0type=N'SCHEMA',@level0name=N'horarios', @level1type=N'TABLE',@level1name=N'asignatura'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'horarios.carrera' , @level0type=N'SCHEMA',@level0name=N'horarios', @level1type=N'TABLE',@level1name=N'carrera'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'horarios.corequisitos_asignatura' , @level0type=N'SCHEMA',@level0name=N'horarios', @level1type=N'TABLE',@level1name=N'corequisitos_asignatura'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'horarios.creditos_requisitos_asignatura' , @level0type=N'SCHEMA',@level0name=N'horarios', @level1type=N'TABLE',@level1name=N'creditos_requisitos_asignatura'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'horarios.dia' , @level0type=N'SCHEMA',@level0name=N'horarios', @level1type=N'TABLE',@level1name=N'dia'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'horarios.horario' , @level0type=N'SCHEMA',@level0name=N'horarios', @level1type=N'TABLE',@level1name=N'horario'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'horarios.horario_seleccionado' , @level0type=N'SCHEMA',@level0name=N'horarios', @level1type=N'TABLE',@level1name=N'horario_seleccionado'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'horarios.modalidad' , @level0type=N'SCHEMA',@level0name=N'horarios', @level1type=N'TABLE',@level1name=N'modalidad'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'horarios.pensum' , @level0type=N'SCHEMA',@level0name=N'horarios', @level1type=N'TABLE',@level1name=N'pensum'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'horarios.profesor' , @level0type=N'SCHEMA',@level0name=N'horarios', @level1type=N'TABLE',@level1name=N'profesor'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'horarios.seccion' , @level0type=N'SCHEMA',@level0name=N'horarios', @level1type=N'TABLE',@level1name=N'seccion'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'horarios.trimestre' , @level0type=N'SCHEMA',@level0name=N'horarios', @level1type=N'TABLE',@level1name=N'trimestre'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'horarios.version_pensum' , @level0type=N'SCHEMA',@level0name=N'horarios', @level1type=N'TABLE',@level1name=N'version_pensum'
GO
USE [master]
GO
